<footer class="footer-area ft-bg">
    <div class="copyright">
        <div class="container">
            <div class="copyright-wrap">
                <div class="row">
                    <div class="col-12 col-lg-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="/">&nbsp; Promedi Pharmacy </a> All Rights
                            Reserved.
                    </div>
                    <!-- <div class="col-12 col-lg-4 align-self-center">
                        <p class="copyright-text text-center">
                                Visitors :
                            <a href="https://www.freecounterstat.com" title="free counters"><img
                                    src="https://counter4.optistats.ovh/private/freecounterstat.php?c=aen9mjhhmy8xztaek8j99sepgu2226ez"
                                    border="0" title="free counters" alt="free counters"></a>

                        </p>
                    </div> -->
                        <div class="col-12 col-lg-6 align-self-center">
                        <p class="copyright-text text-center">
                               <b>Office Address :</b>
                           213 westpark Drive, Athens, Georgia 30606
                        </p>
                    </div>                  
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
    <ul>
        <li>
            <a href="tel:+19373133646">
                <img src="assets/logo/call.png">
            </a>
        </li>
        <li>
            <a href="#" class="whatsapp">
                <img src="assets/logo/whatsapp.png ">
            </a>
        </li>
        <li>
            <a href="mailto:Info@promedipharmacy.store">
                <img src="assets/logo/gmail.png ">
            </a>
        </li>
        <li>
            <a href="sms:+19373133646">
                <img src="assets/logo/sms.png">
            </a>
        </li>
    </ul>
</div>
</footer>
<a href="#" id="scroll-top"><i class="far fa-arrow-up-from-arc"></i></a>
