<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Product</p>
                    <h6 class="mb-0">{{TotalInfo.product}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Orders</p>
                    <h6 class="mb-0">{{TotalInfo.order}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Enquiry</p>
                    <h6 class="mb-0">{{TotalInfo.enquiry}}</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total PO</p>
                    <h6 class="mb-0">{{TotalInfo.amount}}</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Today Orders</h6>         
            <a routerLink="/orders">Show All</a>
        </div>
        <div class="table-responsive" style="max-height: 420px;">
                   <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Order No</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Date</th>                               
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let order of orderList;let i=index">
                                    <tr class="text-white">
                                        <td scope="col">{{i+1}}</td>
                                        <td scope="col">{{order.orderNo}}</td>
                                        <td scope="col">{{order.name}}</td>
                                        <td scope="col">{{order.contactNo}}</td>
                                        <td scope="col">{{order.address}}</td>
                                        <td scope="col">{{order.createdOn|date:'dd-MM-yyyy'}}</td>                                       
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
        </div>
    </div>
</div>   