.product-img {
    height: 250px;
    position: relative;
}

.brand-item a {
    display: flex;
    padding: 30px 10px;
    border: 1px solid var(--theme-color-light);
    box-shadow: 0px 2px 5px 1px #e8e8e8;
    border-radius: 5px;
    height: 260px;
}

.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.hs-1 .hero-single .hero-img img {
    width: 60%;
    margin: auto;
    top: -108px;
    position: relative;
}

.item-4 .product-item {
    box-shadow: 0px -1px 4px 1px #ddd;
    background: var(--color-white);
}

.brand-item {
    border-radius: 14px;
    margin: 2px;
}

.brand-item:hover {
    box-shadow: 0px -1px 4px 1px #ddd !important;
    /* border-radius: 3px; */
    transition: 0.4s ease-in-out;
    transform: scale(1.03);
}

.product-img img {
    background: #ddd;
    border-radius: 13px;
    width: 300px !important;
    height: 250px !important;
}

.gallery-item {
    cursor: pointer;
    box-shadow: 0px -1px 4px 1px #ddd !important;
    border-radius: 13px;
    margin: 5px;
    padding: 10px;
    height: 250px;
}
.gallery-item :hover {
    box-shadow: 0px -1px 4px 1px #ddd !important;
    /* border-radius: 3px; */
    transition: 0.4s ease-in-out;
    transform: scale(1.03);
}
.gallery-item img{   
    border-radius: 13px;       
    height: 100%;
}
.product-item:hover {
    box-shadow: 0px -1px 4px 1px #ddd !important;
    /* border-radius: 3px; */
    transition: 0.4s ease-in-out;
    transform: scale(1.03);
}

.product-cart-btn {
    position: relative;
    border: none;
    background: #f84c86;
    color: var(--color-white);
    border-radius: 9px;
    text-align: center;
    font-size: 18px;
    width: 98px;
    font-size: 12px;
    height: 35px;
    font-weight: 700;
    transition: var(--transition);
    box-shadow: var(--box-shadow);
}

@media only screen and (max-width : 480px) {
    h1.hero-title {
        font-size: 26px !important;
    }

    .home-2 .hs-1 .hero-img-info {
        gap: 10px;
        width: 220px;
        background: var(--color-white);
        padding: 6px 10px !important;
        border-radius: 15px !important;
    }
}