<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Manage Orders</h6>
                <div class="mb-3">
                    <div class="table-responsive" style="max-height: 500px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Order No</th>
                                    <th scope="col">Customer Name</th>
                                    <th scope="col">Contact No</th>
                                    <th scope="col">Address</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" style="width: 7%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let order of orderList;let i=index">
                                    <tr class="text-white">
                                        <td scope="col">{{i+1}}</td>
                                        <td scope="col">{{order.orderNo}}</td>
                                        <td scope="col">{{order.name}}</td>
                                        <td scope="col">{{order.contactNo}}</td>
                                        <td scope="col">{{order.address}}</td>
                                        <td scope="col">{{order.createdOn|date:'dd-MM-yyyy'}}</td>
                                        <td>
                                            <button (click)="DeleteOrder(order.orderNo)"
                                                class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                                            <button onclick="$('#modalOrder').modal('show');"
                                                (click)="OrderInfo(order.orderNo)" class="btn btn-warning btn-sm m-2"><i
                                                    class="fa fa-eye"></i></button>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalOrder" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 900px;left: -25%;">
            <div class="modal-body" style="padding:0;">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-12">
                        <div class="bg-secondary rounded h-100 p-4">
                            <h6 class="mb-4">Orders Details</h6>
                            <div class="mb-3">
                                <div class="table-responsive" style="max-height: 500px;">
                                    <table class="table text-start align-middle table-bordered table-hover mb-0">
                                        <thead>
                                            <tr class="text-white">
                                                <th scope="col">#</th>
                                                <th scope="col">Product Id</th>
                                                <th scope="col">Product Name</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Photo</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngFor="let order of orderInfo;let i=index">
                                                <tr class="text-white">
                                                    <td scope="col">{{i+1}}</td>
                                                    <td scope="col">{{order.productId}}</td>
                                                    <td scope="col">{{order.productName}}</td>
                                                    <td scope="col">{{order.qty}}</td>
                                                    <td scope="col">{{order.price}}</td>
                                                    <td scope="col"><img [src]="getImgUrl(order.photo)" /></td>
                                                </tr>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>