  <!-- preloader -->
  <div class="preloader">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<!-- preloader end -->


<!-- header area -->
<header class="header">

    <!-- header top -->
    <div class="header-top">
        <div class="container">
            <div class="header-top-wrap">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6 col-xl-5">
                        <div class="header-top-left">
                            <ul class="header-top-list">
                                <li><a href="#"><i class="far fa-envelopes"></i>
                                        <span class="__cf_email__"><b>Email Id : </b>{{'promedipharmacy@aol.com'}}</span></a></li>
                                <li><a href="tel:+19373133646"><i class="far fa-headset"></i><b> Contact Number :</b> +19373133646</a></li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6 col-xl-7">
                        <div class="header-top-right">
                            <ul class="header-top-list">                               
                                <li class="social">
                                    <div class="header-top-social">
                                        <span>Follow Us: </span>
                                        <a href="#"><i class="fab fa-facebook"></i></a>
                                        <a href="#"><i class="fab fa-x-twitter"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-linkedin"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header top end -->


    <!-- navbar -->
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/">
                    <img src="assets/logo/logo.png" alt="logo">
                </a>
                <div class="mobile-menu-right">          
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar"
                        aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
                <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                    aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <a href="index.html" class="offcanvas-brand" id="offcanvasNavbarLabel">
                            <img src="assets/logo/logo.png" alt="">
                        </a>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1">                 
                            <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/product">Our Products</a></li>
                            <li class="nav-item"><a class="nav-link" routerLink="/gallery">Product Gallery</a></li>                     
                            <li class="nav-item"><a class="nav-link" routerLink="/contact">Contact Us</a></li>                                                      
                        </ul>                     
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- navbar end -->

</header>
<!-- header area end -->
