.cart {
       background: #ffffff !important;
    color: #E91E63 !important;
    padding: 1px 11px !important;
    top: 26px !important;
    border-radius: 5px !important;
}
.cart span.count{
       position: absolute;
    right: -7px;
    top: -7px;
    background: #FF9800;
    border: 1px solid #fff;
    padding: 2px;
    color: #fff;
    border-radius: 40px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: normal;
    font-size: 13px;
}
ul.menubar li a:hover{
    color: yellow;
}
ul.menubar li a:focus{
    color: yellow;
}
@media only screen and (max-width : 480px) {
    .cart span.count {
        right: 6px;
        top: 6px;
    }
    .nav-item span{
    display: none;
}
}
