<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Manage Enquiry</h6>
                <div class="mb-3">
                    <div class="table-responsive" style="max-height: 500px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Date</th>
                                    <th scope="col" style="width: 1%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let enquiry of enquiryList; let  i = index">
                                    <tr class="text-white">
                                        <td scope="col">{{i+1}}</td>                                    
                                        <td scope="col">{{enquiry.name}}</td>                                    
                                        <td scope="col">{{enquiry.contactNo}}</td>                                    
                                        <td scope="col">{{enquiry.subject}}</td>                                    
                                        <td scope="col">{{enquiry.message}}</td>                                    
                                        <td scope="col">{{enquiry.createdOn|date:'dd-MM-yyyy'}}</td>                                    
                                        <td scope="col">
                                              <button (click)="DeleteEnquiry(enquiry.autoId)"
                                                class="btn btn-danger btn-sm m-2"><i class="fa fa-trash"></i></button>
                                        </td>                                    
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>