<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Manage Enquiry</h6>
                <div class="mb-3">                   
                    <div class="table-responsive" style="max-height: 500px;">
                        <table class="table text-start align-middle table-bordered table-hover mb-0">
                            <thead>
                                <tr class="text-white">
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Mobile No</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Remark</th>
                                    <th scope="col">Date</th>                             
                                    <th scope="col" style="width: 1%;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>